{erl_opts, [debug_info]}.
{deps, [
    jsx,
    {canal, {git, "https://github.com/valitydev/canal", {tag, "v1.0.1"}}},
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.7.1"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [epg_connector]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{project_plugins, [
    {rebar3_lint, "3.2.6"},
    {erlfmt, "1.5.0"}
]}.

{profiles, [
    {test, [
        {dialyzer, [
            {plt_extra_apps, [canal, jsx]}
        ]}
    ]}
]}.
