[
    {epg_connector, [
        {databases, #{
            default_db => #{
                host =>"127.0.0.1",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => 10
            },
            front_pool => #{
                database => default_db,
                size => 10
            },
            back_pool => #{
                database => default_db,
                size => 10
            },
            vip_pool => #{
                database => default_db,
                size => 10
            }
        }},
        %% Must specified for umbrella application
        {vault_token_path, "/var/run/secrets/kubernetes.io/serviceaccount/token"},
        {vault_role, "epg_connector"},
        {vault_key_pg_creds, "epg_connector/pg_creds"}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]}
].
