[
    {epg_connector, [
        {databases, #{
            default_db => #{
                host =>"127.0.0.1",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => {1, 10}
            },
            front_pool => #{
                database => default_db,
                size => 10
            },
            back_pool => #{
                database => default_db,
                size => 10
            },
            vip_pool => #{
                database => default_db,
                size => 10
            }
        }},
        {async, enabled},
        {force_garbage_collect, false},
        {vault_token_path, "/var/run/secrets/kubernetes.io/serviceaccount/token"},
        {vault_role, "epg_connector"}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]}
].
