[
    {epg_connector, [
        {databases, #{
            default_db => #{
                host => "postgres",
                port => 5432,
                database => "connector_db",
                username => "connector",
                password => "connector"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => {1, 10}
            },
            front_pool => #{
                database => default_db,
                size => 10
            },
            back_pool => #{
                database => default_db,
                size => 10
            },
            vip_pool => #{
                database => default_db,
                size => 10
            }
        }},
        {async, enabled},
        {force_garbage_collect, false},
        {vault_token_path, "/var/run/secrets/kubernetes.io/serviceaccount/token"},
        {vault_role, "epg_connector"},
        {vault_secret_key_paths, #{default_db => "pg_creds/default_db"}}
    ]}

    %    {canal, [
    %        {url, "http://vault"},
    %        {engine, kvv2}
    %    ]}
].
